{% extends 'base.html.twig' %}

{% block title %}
    Artistes
{% endblock %}

{% block pageTitle %}
    Liste des artistes :
{% endblock %}

{% block body %}
    <ul>
        {% for artiste in artistes %}
            <p>
            <li><a href="/artiste/{{ artiste.idArtiste }}">{{ artiste.nomArtiste }}</a></li>
            <span>Description : {{ artiste.descriptionArtiste }}</span>
            <br><span>Nombre de visite : {{ artiste.nbVisiteArtiste }}</span>
            </p>

        {% endfor %}
    </ul>
{% endblock %}

