{% extends 'base.html.twig' %}

{% block pageTitle %}
    Panneau d'administration :
{% endblock %}

{% block body %}
    <p>
        <a href="{{ path('epsi_event_addArtiste') }}">Ajout d'artiste</a>
    </p>
{% endblock %}