{% extends 'base.html.twig' %}

{% block pageTitle %}
    Panneau d'administration :
{% endblock %}

{% block body %}
    <p>
        <a href="{{ path('epsi_event_addArtiste') }}">Ajout d'artiste</a>
    </p>
    <p>
        <a href="{{ path('epsi_event_addEvent') }}">Ajout d'événement</a>
    </p>
    <p>
        <a href="{{ path('epsi_event_addLieu') }}">Ajout de lieu</a>
    </p>
{% endblock %}